<h1 id="list_header"><%= @list.name %> </h1>

<% if @list.tasks.any? %>
    <div class="box">
    <table class="table table-hover" id="sortable"> 
    <%@tasks.each do |task| %>
    <tr data-todo-id=<%= "#{task.id}" %> class="todo" >
        <td id="the_box">
            <%=link_to complete_list_task_path(@list, task), method: :patch do %>
                <% if !task.completed? %>
                    <%=fa_icon "square"%>
                <% else %>
                    <%=fa_icon "check-square"%>
                <%end%>
            <%end%>
        </td>
        <td class="is_<%=task.completed%>" id="the_item">
            <%= task.item %>
        </td>
        <td id="the_delete">
            <%= link_to "Delete", list_task_path(@list, task), method: :delete %>
        </td>
    </tr>
    <%end%>
    </table>
    </div>
<%end%>

<div class="form">
<%=render "tasks/form" %>
</div>
<div id="move">
<%= link_to "Back", root_path %>
</div>
