<h1 id="list_header"><%= @list.name %> </h1>

<% if @list.tasks.any? %>
    <div class="box">
    <table class="table table-hover"> 
    <%@list.tasks.each do |task| %>
    <tr class="row">
        <td>
            <%=link_to complete_list_task_path(@list, task), method: :patch do %>
                <% if !task.completed? %>
                    <%=fa_icon "square"%>
                <% else %>
                    <%=fa_icon "check-square"%>
                <%end%>
            <%end%>
        </td>
        <td>
            <li class="is_<%=task.completed%>"><%= task.item %></li>
        </td>
        <td>
            <%= link_to "Delete", list_task_path(@list, task), method: :delete %>
        </td>
    </tr>
    <%end%>
    </table>
    </div>
<%end%>

<div class="form">
<%=render "tasks/form" %>
</div>
<div id="back_link">
<%= link_to "Back", root_path %>
</div>
